body {
  font-family: Arial;
  background-color: floralwhite;
}

img:not(header img) {
  max-width: 900px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #a22f21 solid 5px;
  border-radius: 5px;
}
main,
p,
li {
  max-width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  background-color: #a22f21;
  color: white;
  text-align: center;
  padding: 3px;
  border-radius: 10px;
  font-size: 40px;
  margin-right: 10%;
  margin-left: 10%;
}

h2 {
  text-align: center;
  background-color: #a22f21;
  color: white;
  padding: 3px;
  border-radius: 10px;
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

header img {
  height: 90%;
  max-height: 100px;
  padding: auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-left: 3%;
  padding-right: 3%;
}

nav {
  vertical-align: right;
  padding-left: 50%;
}

nav div {
  text-align: center;
  font-weight: bold;
  background-color: #a22f21;
  color: white;
  text-decoration: none;
  margin-bottom: 3px;
  padding: 3px;
  border-radius: 5px;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pets {
  display: inline-block;
  width: 33%;
  height: auto;
  margin-bottom: 10px;
  vertical-align: middle;
  border: solid black;
  background-color: #a22f21;
  border-radius: 10px;
}
#adoption a {
  background-color: white;
  color: #a22f21;
  padding: 3px;
  width: 33%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
#adoption {
  margin-bottom: 10px;
  text-align: center;
}
#adoption img {
  display: block;
  width: 90%;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
#adoption h4 {
  font-size: 120%;
  color: white;
  text-align: center;
  border: solid black;
  border-radius: 5px;
  width: 75%;
  height: 40px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:not(#adoption a) {
  background-color: #a22f21;
  color: white;
  padding: 3px;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px;
  font-weight: bold;
}

#other_services li {
  font-weight: bold;
}
#contact_img {
  border: none;
  border-radius: 0px;
}
